@media (max-width: 767px) {
    .hiker-image {
        height: 400px; 
        opacity: 0.9;
    }
    .image-header{
        font-size: 30px;
        /* font-family: 'Lato', sans-serif; */
    }
}

@media (min-width: 767px) {
    .image-header{
        font-size: 50px;
        margin-top: 120px;
        /* font-family: 'Lato', sans-serif; */
    }
}


.hiker-image{
    width: 100%;
    min-height: 30vh;
    max-height: 40vh;
    opacity: 0.9;
    object-fit: cover;  
    border-radius: none;

}
